[submodule "submodules/linphone"]
	path = submodules/linphone
	url = https://gitlab.linphone.org/BC/public/linphone.git
[submodule "submodules/externals/gsm"]
	path = submodules/externals/gsm
	url = https://gitlab.linphone.org/BC/public/external/gsm.git
[submodule "submodules/externals/speex"]
	path = submodules/externals/speex
	url = https://gitlab.linphone.org/BC/public/external/speex.git
[submodule "submodules/externals/ffmpeg"]
	path = submodules/externals/ffmpeg
	url = https://gitlab.linphone.org/BC/public/external/ffmpeg.git
	ignore = dirty
[submodule "submodules/externals/x264"]
	path = submodules/externals/x264
	url = https://gitlab.linphone.org/BC/public/external/x264.git
	ignore = dirty
[submodule "submodules/msx264"]
	path = submodules/msx264
	url = https://gitlab.linphone.org/BC/public/msx264.git
[submodule "submodules/externals/opencore-amr"]
	path = submodules/externals/opencore-amr
	url = https://gitlab.linphone.org/BC/public/external/opencore-amr.git
	ignore = dirty
[submodule "submodules/msamr"]
	path = submodules/msamr
	url = https://gitlab.linphone.org/BC/public/msamr.git
[submodule "submodules/externals/libvpx"]
	path = submodules/externals/libvpx
	url = https://gitlab.linphone.org/BC/public/external/libvpx.git
	ignore = dirty
[submodule "submodules/bzrtp"]
	path = submodules/bzrtp
	url = https://gitlab.linphone.org/BC/public/bzrtp.git
[submodule "submodules/externals/srtp"]
	path = submodules/externals/srtp
	url = https://gitlab.linphone.org/BC/public/external/srtp.git
[submodule "submodules/mssilk"]
	path = submodules/mssilk
	url = https://gitlab.linphone.org/BC/public/mssilk.git
[submodule "submodules/bcg729"]
	path = submodules/bcg729
	url = https://gitlab.linphone.org/BC/public/bcg729.git
[submodule "submodules/belle-sip"]
	path = submodules/belle-sip
	url = https://gitlab.linphone.org/BC/public/belle-sip.git
[submodule "submodules/externals/libxml2"]
	path = submodules/externals/libxml2
	url = https://gitlab.linphone.org/BC/public/external/libxml2.git
	ignore = dirty
[submodule "submodules/externals/libupnp"]
	path = submodules/externals/libupnp
	url = https://gitlab.linphone.org/BC/public/external/libupnp.git
[submodule "submodules/externals/opus"]
	path = submodules/externals/opus
	url = https://gitlab.linphone.org/BC/public/external/opus.git
	ignore = dirty
[submodule "submodules/mswebrtc"]
	path = submodules/mswebrtc
	url = https://gitlab.linphone.org/BC/public/mswebrtc.git
[submodule "submodules/msopenh264"]
	path = submodules/msopenh264
	url = https://gitlab.linphone.org/BC/public/msopenh264.git
[submodule "submodules/externals/openh264"]
	path = submodules/externals/openh264
	url = https://gitlab.linphone.org/BC/public/external/openh264.git
	ignore = dirty
[submodule "submodules/mscodec2"]
	path = submodules/mscodec2
	url = https://gitlab.linphone.org/BC/public/mscodec2.git
[submodule "submodules/bctoolbox"]
	path = submodules/bctoolbox
	url = https://gitlab.linphone.org/BC/public/bctoolbox.git
[submodule "submodules/externals/mbedtls"]
	path = submodules/externals/mbedtls
	url = https://gitlab.linphone.org/BC/public/external/mbedtls.git
	ignore = dirty
[submodule "submodules/cmake-builder"]
	path = submodules/cmake-builder
	url = https://gitlab.linphone.org/BC/public/linphone-cmake-builder.git
[submodule "submodules/externals/bv16-floatingpoint"]
	path = submodules/externals/bv16-floatingpoint
	url = https://gitlab.linphone.org/BC/public/external/bv16-floatingpoint.git
[submodule "submodules/belr"]
	path = submodules/belr
	url = https://gitlab.linphone.org/BC/public/belr.git
[submodule "submodules/belcard"]
	path = submodules/belcard
	url = https://gitlab.linphone.org/BC/public/belcard.git
[submodule "submodules/bcunit"]
	path = submodules/bcunit
	url = https://gitlab.linphone.org/BC/public/bcunit.git
[submodule "submodules/externals/vo-amrwbenc"]
	path = submodules/externals/vo-amrwbenc
	url = https://gitlab.linphone.org/BC/public/external/vo-amrwbenc.git
[submodule "submodules/externals/codec2"]
	path = submodules/externals/codec2
	url = https://gitlab.linphone.org/BC/public/external/codec2.git
[submodule "submodules/externals/libjpeg-turbo"]
	path = submodules/externals/libjpeg-turbo
	url = https://gitlab.linphone.org/BC/public/external/libjpeg-turbo.git
[submodule "submodules/mediastreamer2"]
	path = submodules/mediastreamer2
	url = https://gitlab.linphone.org/BC/public/mediastreamer2.git
[submodule "submodules/oRTP"]
	path = submodules/oRTP
	url = https://gitlab.linphone.org/BC/public/ortp.git
[submodule "submodules/bcmatroska2"]
	path = submodules/bcmatroska2
	url = https://gitlab.linphone.org/BC/public/bcmatroska2.git
[submodule "submodules/externals/xerces-c"]
	path = submodules/externals/xerces-c
	url = https://gitlab.linphone.org/BC/public/external/xerces-c.git
[submodule "submodules/externals/libxsd"]
	path = submodules/externals/libxsd
	url = https://gitlab.linphone.org/BC/public/external/libxsd.git
[submodule "submodules/externals/soci"]
	path = submodules/externals/soci
	url = https://gitlab.linphone.org/BC/public/external/soci.git
[submodule "submodules/externals/zxing-cpp"]
	path = submodules/externals/zxing-cpp
	url = https://gitlab.linphone.org/BC/public/external/zxing-cpp.git
