libs
obj
gen
bin
doc
*.orig
*.rej
.settings
.DS_Store
default.properties
local.properties
project.properties
tests/*$py.class
tests/build.xml
res/.DS_Store
bc-android.keystore
res/raw/lpconfig.xsd
res/raw/rootca.pem
submodules/externals/sqlite3/sqlite3.*
