[submodule "msandroid"]
	path = submodules/msandroid
	url = git://git.linphone.org:msandroid.git
[submodule "linphone"]
	path = submodules/linphone
	url = git://git.savannah.nongnu.org/linphone.git
[submodule "submodules/externals/osip"]
	path = submodules/externals/osip
	url = git://git.savannah.gnu.org/osip.git
[submodule "submodules/externals/exosip"]
	path = submodules/externals/exosip
	url = git://git.savannah.nongnu.org/exosip.git
[submodule "submodules/externals/gsm"]
	path = submodules/externals/gsm
	url = git://git.linphone.org:gsm.git
[submodule "submodules/externals/speex"]
	path = submodules/externals/speex
	url = http://git.xiph.org/speex.git
