[submodule "msandroid"]
	path = submodules/msandroid
	url = gitosis@belledonne-communications.com:msandroid.git
[submodule "linphone"]
	path = submodules/linphone
	url = gitosis@belledonne-communications.com:linphone-private.git
[submodule "submodules/externals/osip"]
	path = submodules/externals/osip
	url = git://git.savannah.gnu.org/osip.git
[submodule "submodules/externals/exosip"]
	path = submodules/externals/exosip
	url = git://git.savannah.nongnu.org/exosip.git
[submodule "submodules/externals/gsm"]
	path = submodules/externals/gsm
	url = gitosis@belledonne-communications.com:gsm.git
