<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.linphone"
      android:versionCode="1104" android:versionName="1.1.4"  android:installLocation="auto"> 
    <uses-sdk android:minSdkVersion="3" />
    <application android:label="@string/app_name" android:debuggable = "true" android:icon="@drawable/logo_linphone_57x57">
         
         
        <activity android:name=".LinphoneActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
                <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
         </activity>
         <activity android:name=".core.tutorials.TestVideoActivity"
                  android:label="Video test"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:launchMode="singleTask"
                   android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
         <activity android:name=".core.tutorials.TutorialHelloWorldActivity"
                  android:label="Hello World"
                  android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
         <activity android:name=".core.tutorials.TutorialRegistrationActivity"
                  android:label="Registration"
                  android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
         <activity android:name=".core.tutorials.TutorialBuddyStatusActivity"
                  android:label="Buddy status"
                  android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
         <activity android:name=".core.tutorials.TutorialChatRoomActivity"
                  android:label="Chat Room"
                  android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
         <activity android:name="org.mediastreamer2.test.Ring"
                  android:label="Ring+Echo"
                  android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>         
        <activity android:name=".LinphonePreferencesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
         </activity>
        <activity android:name=".DialerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
         </activity>
         <activity android:name=".VideoCallActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
         </activity>
        <activity android:name=".ContactPickerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
         </activity>
		 <activity android:name=".HistoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
         </activity>         
		 <activity android:name=".AboutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
         </activity>
         <service android:name=".LinphoneService">
        </service>
	<receiver android:name="NetworkManager">
	<intent-filter><action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
	</intent-filter>
	</receiver>
	<!--  receiver android:name="OutgoingCallReceiver" >
		<intent-filter android:priority="0"><action android:name="android.intent.action.NEW_OUTGOING_CALL"></action>
	</intent-filter>
	</receiver-->
	<receiver android:name="BootReceiver" >
		<intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"></action>
	</intent-filter>
	</receiver>
</application>

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
<uses-permission android:name="android.permission.READ_CONTACTS"/>
<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.WAKE_LOCK"/>
<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
<uses-permission android:name="android.permission.BOOT_COMPLETED"></uses-permission>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
<uses-permission android:name="android.permission.CAMERA" />

<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:anyDensity="true"/>
</manifest> 
